<div class="max-w-4xl mx-auto">
  <h2 class="text-2xl font-bold">{{ title }}!</h2>
  <p class="mt-2 mb-4">Hola hola probando probando</p>

  <div class="my-6">
    <img src="images/soggycat.png" class="w-32 h-32 mx-auto rounded-full shadow-lg">
  </div>

  <table class="w-full text-left">
    <thead>
      <tr>
        <th class="p-2 border-b">Nombre</th>
        <th class="p-2 border-b">Título</th>
        <th class="p-2 border-b">Trabajo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="p-2">John Tailwind</td>
        <td class="p-2">Técnico</td>
        <td class="p-2">Tailwind .Inc</td>
      </tr>
      <tr>
        <td class="p-2">John Bootstrap</td>
        <td class="p-2">Developer</td>
        <td class="p-2">Bootstrap .Inc</td>
      </tr>
    </tbody>
  </table>
</div>
